{% extends 'base.html' %}

{% block content %}

<h1> accounts index </h1>
<span class="text-success"> 로그인 된 사람 : {{ request.user }} </span>
<hr>
<a href="{% url 'accounts:login' %}">로그인페이지</a>
<a href="{% url 'accounts:signup' %}">회원가입</a>
<a href="{% url 'accounts:logout' %}">로그아웃</a>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">PK</th>
      <th scope="col">ID</th>
      <th scope="col">성</th>
      <th scope="col">이름</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>
  <tbody>
    {% for i in user %}
    <tr>
      <th scope="row">{{ i.pk }}</th>
      <td>{{ i.username }}</td>
      <td>{{ i.last_name }}</td>
      <td>{{ i.first_name }}</td>
      <td>{{ i.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}